---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/connections
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <XERO_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Xero-Correlation-Id:
      - '08e440e1-e4e9-463f-b95f-072760642f4d'
      X-Appminlimit-Remaining:
      - '9999'
      X-Client-Tls-Ver:
      - tls1.3
    body:
      encoding: UTF-8
      string: '[{"id":"00000000-0000-0000-0000-000000000001","authEventId":"11111111-1111-1111-1111-000000000001","tenantId":"22222222-2222-2222-2222-000000000001","tenantType":"ORGANISATION","tenantName":"Sanitised
        Tenant","createdDateUtc":"2019-11-20T20:01:39.7131130","updatedDateUtc":"2026-04-09T19:22:31.1083020"}]'
  recorded_at: Thu, 09 Apr 2026 19:42:43 GMT
recorded_with: VCR 6.4.0
