---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <XERO_ACCESS_TOKEN>
      Xero-Tenant-Id:
      - "<XERO_TENANT_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Xero-Correlation-Id:
      - cf57923d-2304-4348-a7a8-391235bd8e25
      X-Appminlimit-Remaining:
      - '9999'
      X-Minlimit-Remaining:
      - '59'
      X-Daylimit-Remaining:
      - '4920'
      Xero-Tenant-Id:
      - "<XERO_TENANT_ID>"
      X-Client-Tls-Ver:
      - tls1.3
    body:
      encoding: UTF-8
      string: '{"Id":"cf57923d-2304-4348-a7a8-391235bd8e25","Status":"OK","ProviderName":"Statey
        Test","DateTimeUTC":"/Date(1775830959539)/","Invoices":[{"Type":"ACCREC","InvoiceID":"bd58886c-a0eb-4973-8795-343ed1a6db5d","InvoiceNumber":"INV-0003","Reference":"","Payments":[],"CreditNotes":[],"Prepayments":[],"Overpayments":[],"AmountDue":1150.0,"AmountPaid":0.0,"AmountCredited":0.0,"CurrencyRate":1.0,"IsDiscounted":false,"HasAttachments":false,"InvoiceAddresses":[],"HasErrors":false,"InvoicePaymentServices":[],"Contact":{"ContactID":"850803eb-b231-42a8-a916-e4a39d7cd2c3","Name":"Sanitised
        Organisation","Addresses":[],"Phones":[],"ContactGroups":[],"ContactPersons":[],"HasValidationErrors":false},"DateString":"2019-11-20T00:00:00","Date":"/Date(1574208000000+0000)/","DueDateString":"2019-11-30T00:00:00","DueDate":"/Date(1575072000000+0000)/","Status":"DRAFT","LineAmountTypes":"Exclusive","LineItems":[],"SubTotal":1000.0,"TotalTax":150.0,"Total":1150.0,"UpdatedDateUTC":"/Date(1574278605137+0000)/","CurrencyCode":"ZAR"},{"Type":"ACCREC","InvoiceID":"86c4d7eb-1c75-4d92-a911-ccfb37118d22","InvoiceNumber":"INV-0002","Reference":"","Payments":[],"CreditNotes":[],"Prepayments":[],"Overpayments":[],"AmountDue":0.0,"AmountPaid":0.0,"AmountCredited":0.0,"CurrencyRate":1.0,"IsDiscounted":false,"HasAttachments":false,"InvoiceAddresses":[],"HasErrors":false,"InvoicePaymentServices":[],"Contact":{"ContactID":"850803eb-b231-42a8-a916-e4a39d7cd2c3","Name":"Sanitised
        Organisation","Addresses":[],"Phones":[],"Co[...]
