---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <XERO_ACCESS_TOKEN>
      Xero-Tenant-Id:
      - "<XERO_TENANT_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Xero-Correlation-Id:
      - d3f4b8bc-a363-4b6b-8854-386b16f805c4
      X-Appminlimit-Remaining:
      - '9999'
      X-Minlimit-Remaining:
      - '59'
      X-Daylimit-Remaining:
      - '4943'
      Xero-Tenant-Id:
      - "<XERO_TENANT_ID>"
      X-Client-Tls-Ver:
      - tls1.3
    body:
      encoding: UTF-8
      string: '{"Id":"d3f4b8bc-a363-4b6b-8854-386b16f805c4","Status":"OK","ProviderName":"Statey
        Test","DateTimeUTC":"/Date(1775828624479)/","Contacts":[{"ContactID":"751e8fd8-8735-47ce-b429-4ba841d66990","ContactStatus":"ACTIVE","Name":"Sanitised
        Organisation","FirstName":"","LastName":"","EmailAddress":"sanitised@example.com","BankAccountDetails":"","Addresses":[{"AddressType":"STREET","City":"","Region":"","PostalCode":"","Country":"","AttentionTo":""},{"AddressType":"POBOX","City":"","Region":"","PostalCode":"","Country":"","AttentionTo":""}],"Phones":[{"PhoneType":"DDI","PhoneNumber":"","PhoneAreaCode":"","PhoneCountryCode":""},{"PhoneType":"DEFAULT","PhoneNumber":"","PhoneAreaCode":"","PhoneCountryCode":""},{"PhoneType":"FAX","PhoneNumber":"","PhoneAreaCode":"","PhoneCountryCode":""},{"PhoneType":"MOBILE","PhoneNumber":"","PhoneAreaCode":"","PhoneCountryCode":""}],"UpdatedDateUTC":"/Date(1574695580387+0000)/","ContactGroups":[],"IsSupplier":false,"IsCustomer":true,"ContactPersons":[],"HasAttachments":false,"HasValidationErrors":false},{"ContactID":"ff627454-3fa9-437c-9e45-aa9ab5cb1415","ContactStatus":"ACTIVE","Name":"Sanitised
        Organisation","FirstName":"","LastName":"","EmailAddress":"sanitised@example.com","BankAccountDetails":"","Addresses":[{"AddressType":"STREET","City":"","Region":"","PostalCode":"","Country":"","AttentionTo":""},{"AddressType":"POBOX","City":"","Region":"","PostalCode":"","Country":"","AttentionTo":""}],"Phones":[{"PhoneType":"DDI","PhoneNumber":"","PhoneAreaCode":"","PhoneCountryCode":"[...]
