---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts?includeArchived=true&page=1&pageSize=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Xero-Tenant-Id:
      - 22222222-2222-2222-2222-000000000001
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Xero-Correlation-Id:
      - 2aa1b9ad-b310-465e-a256-fa6cdefb6c3f
      X-Appminlimit-Remaining:
      - '9998'
      X-Minlimit-Remaining:
      - '58'
      X-Daylimit-Remaining:
      - '4929'
      Xero-Tenant-Id:
      - 22222222-2222-2222-2222-000000000001
      X-Client-Tls-Ver:
      - tls1.3
    body:
      encoding: ASCII-8BIT
      string: '{"Id":"2aa1b9ad-b310-465e-a256-fa6cdefb6c3f","Status":"OK","ProviderName":"Statey
        Test","DateTimeUTC":"/Date(1790532667460)/","pagination":{"page":1,"pageSize":1000,"pageCount":1,"itemCount":41},"Contacts":[{"ContactID":"751e8fd8-8735-47ce-b429-4ba841d66990","ContactStatus":"ACTIVE","Name":"Payment
        made for invoices for 2 different contacts (contact 1)","FirstName":"","LastName":"","EmailAddress":"","BankAccountDetails":"","Addresses":[{"AddressType":"STREET","City":"","Region":"","PostalCode":"","Country":"","AttentionTo":""},{"AddressType":"POBOX","City":"","Region":"","PostalCode":"","Country":"","AttentionTo":""}],"Phones":[{"PhoneType":"DDI","PhoneNumber":"","PhoneAreaCode":"","PhoneCountryCode":""},{"PhoneType":"DEFAULT","PhoneNumber":"","PhoneAreaCode":"","PhoneCountryCode":""},{"PhoneType":"FAX","PhoneNumber":"","PhoneAreaCode":"","PhoneCountryCode":""},{"PhoneType":"MOBILE","PhoneNumber":"","PhoneAreaCode":"","PhoneCountryCode":""}],"UpdatedDateUTC":"/Date(1574695580387+0000)/","ContactGroups":[],"IsSupplier":false,"IsCustomer":true,"ContactPersons":[],"HasAttachments":false,"HasValidationErrors":false},{"ContactID":"ff627454-3fa9-437c-9e45-aa9ab5cb1415","ContactStatus":"ACTIVE","Name":"Payment
        made for invoices for 2 different contacts (contact 2)","FirstName":"","LastName":"","EmailAddress":"","BankAccountDetails":"","Addresses":[{"AddressType":"STREET","City":"","Region":"","PostalCode":"","Country":"","AttentionTo":""},{"AddressType":"POBOX","City":"","Region":"","PostalCode":"","Country":"","AttentionTo":""}],"Phones":[{"PhoneType":"DDI","PhoneNumber":"","PhoneAreaCode":"","[...]
