---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/CreditNotes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <XERO_ACCESS_TOKEN>
      Xero-Tenant-Id:
      - "<XERO_TENANT_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Xero-Correlation-Id:
      - 3e5207c4-b7f0-4cb1-8477-f2a4ddfe3ca6
      X-Appminlimit-Remaining:
      - '9999'
      X-Minlimit-Remaining:
      - '59'
      X-Daylimit-Remaining:
      - '4923'
      Xero-Tenant-Id:
      - "<XERO_TENANT_ID>"
      X-Client-Tls-Ver:
      - tls1.3
    body:
      encoding: UTF-8
      string: '{"Id":"3e5207c4-b7f0-4cb1-8477-f2a4ddfe3ca6","Status":"OK","ProviderName":"Statey
        Test","DateTimeUTC":"/Date(1775829998474)/","CreditNotes":[{"CreditNoteID":"2fcf4589-d233-48b1-b804-3e9ecb59d08e","CreditNoteNumber":"CN-0004","Payments":[],"ID":"2fcf4589-d233-48b1-b804-3e9ecb59d08e","HasErrors":false,"InvoiceAddresses":[],"CurrencyRate":1.0,"Type":"ACCRECCREDIT","Reference":"","RemainingCredit":1150.0,"Allocations":[],"HasAttachments":false,"Contact":{"ContactID":"850803eb-b231-42a8-a916-e4a39d7cd2c3","Name":"Sanitised
        Organisation","Addresses":[],"Phones":[],"ContactGroups":[],"ContactPersons":[],"HasValidationErrors":false},"DateString":"2019-11-20T00:00:00","Date":"/Date(1574208000000+0000)/","Status":"DRAFT","LineAmountTypes":"Exclusive","LineItems":[],"SubTotal":1000.0,"TotalTax":150.0,"Total":1150.0,"UpdatedDateUTC":"/Date(1574278735513+0000)/","CurrencyCode":"ZAR"},{"CreditNoteID":"afe3cbaa-344a-4594-810e-eebec62b7585","CreditNoteNumber":"CN-0006","Payments":[],"ID":"afe3cbaa-344a-4594-810e-eebec62b7585","HasErrors":false,"InvoiceAddresses":[],"CurrencyRate":1.0,"Type":"ACCRECCREDIT","Reference":"","RemainingCredit":4373.45,"Allocations":[],"HasAttachments":false,"Contact":{"ContactID":"850803eb-b231-42a8-a916-e4a39d7cd2c3","Name":"Sanitised
        Organisation","Addresses":[],"Phones":[],"ContactGroups":[],"ContactPersons":[],"HasValidationErrors":false},"DateString":"2019-11-20T00:00:00","Date":"/Date(1574208000000+0000)/","Status":"DELETED","LineAmountTypes":"Exclusive","LineItems":[],"SubTotal":3803.0,"TotalTax":570.45,"Total":4373.45,"UpdatedDateUTC":"/Date(1574279017000+0000)/","CurrencyCode":"ZAR"},{"CreditNoteID":"5585ad6e-ee52-4f7b-8a3a-36f8ce85c45b","CreditNoteNumber":"CN-0015","Payments":[{"PaymentID":"4a6a2be9-ea5d-44f0-a0dc-e47b6550576a","Date":"/Date(1572566400000+0000)/","Amount":871.11,"CurrencyRate":1.0,"HasAccount":false,"HasValidationErrors":false}],"ID":"5585ad6e-ee52-4f7b-8a3a-36f8ce85c45b","HasErrors":false,"InvoiceAddresses":[],"CurrencyRate":1.0,"Type":"ACCRECCREDIT","Reference":"","RemainingCredit":0.0,"Allocations":[],"HasAttachments":false,"Contact":{"ContactID":"857c1610-eaec-4243-adb3-38a4116d2476","Name":"Sanitised
        Organisation","Addresses":[],"Phones":[],"ContactGroups":[],"ContactPersons":[],"HasValidationErrors":false},"DateString":"2019-11-01T00:00:00","Date":"/Date(1572566400000+0000)/","Status":"PAID","LineAmountTypes":"Inclusive","LineItems":[],"SubTotal":757.49,"TotalTax":113.62,"Total":871.11,"UpdatedDateUTC":"/Date(1574447149307+0000)/","CurrencyCode":"ZAR","FullyPaidOnDate":"/Date(1572566400000+0000)/"},{"CreditNoteID":"cc5f1a42-cc88-4677-8b5c-ff75d992f8e2","CreditNoteNumber":"CN-0017","Payments":[],"ID":"cc5f1a42-cc88-4677-8b5c-ff75d992f8e2","HasErrors":false,"InvoiceAddresses":[],"CurrencyRate":1.0,"Type":"ACCRECCREDIT","Reference":"","RemainingCredit":432.97,"Allocations":[],"HasAttachments":false,"Contact":{"ContactID":"857c1610-eaec-4243-adb3-38a4116d2476","Name":"Sanitised
        Organisation","Addresses":[],"Phones":[],"ContactGroups":[],"ContactPersons":[][...]
