---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Prepayments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <XERO_ACCESS_TOKEN>
      Xero-Tenant-Id:
      - "<XERO_TENANT_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Xero-Correlation-Id:
      - 7245dc0b-e218-4a28-8656-1c1e7d95d6f4
      X-Appminlimit-Remaining:
      - '9999'
      X-Minlimit-Remaining:
      - '59'
      X-Daylimit-Remaining:
      - '4924'
      Xero-Tenant-Id:
      - "<XERO_TENANT_ID>"
      X-Client-Tls-Ver:
      - tls1.3
    body:
      encoding: UTF-8
      string: '{"Id":"7245dc0b-e218-4a28-8656-1c1e7d95d6f4","Status":"OK","ProviderName":"Statey
        Test","DateTimeUTC":"/Date(1775829669034)/","Prepayments":[{"PrepaymentID":"c405b342-88cc-4c2c-95cb-d106c874e527","InvoiceNumber":"INV-0008","ID":"c405b342-88cc-4c2c-95cb-d106c874e527","Type":"RECEIVE-PREPAYMENT","Reference":"INV-0008","RemainingCredit":262.0,"Allocations":[{"AllocationID":"11fac119-eabc-4ec4-9e49-94e0ceee8a22","Amount":57.0,"Date":"/Date(1574208000000+0000)/","Invoice":{"InvoiceID":"253498ce-f836-44ad-9c0a-13b331ed0969","InvoiceNumber":"INV-0001","Payments":[],"CreditNotes":[],"Prepayments":[],"Overpayments":[],"IsDiscounted":false,"InvoiceAddresses":[],"HasErrors":false,"InvoicePaymentServices":[],"LineItems":[]}},{"AllocationID":"05ce10bf-2cf3-42f1-bc3b-f882d0045413","Amount":34.0,"Date":"/Date(1574208000000+0000)/","Invoice":{"InvoiceID":"3820ec6a-91bc-4630-8906-a7ea380fee4d","InvoiceNumber":"INV-0007","Payments":[],"CreditNotes":[],"Prepayments":[],"Overpayments":[],"IsDiscounted":false,"InvoiceAddresses":[],"HasErrors":false,"InvoicePaymentServices":[],"LineItems":[]}}],"Payments":[],"HasAttachments":false,"Contact":{"ContactID":"850803eb-b231-42a8-a916-e4a39d7cd2c3","Name":"Sanitised
        Organisation","Addresses":[],"Phones":[],"ContactGroups":[],"ContactPersons":[],"HasValidationErrors":false},"DateString":"2019-01-01T00:00:00","Date":"/Date(1546300800000+0000)/","Status":"AUTHORISED","LineAmountTypes":"Inclusive","LineItems":[],"SubTotal":306.96,"TotalTax":46.04,"Total":353.0,"UpdatedDateUTC":"/Date(1574279997543+0000)/","CurrencyCode":"ZAR"},{"PrepaymentID":"b8d0ffb1-aa4b-45f2-b309-aa24a3e1785b","InvoiceNumber":"INV-0023","ID":"b8d0ffb1-aa4b-45f2-b309-aa24a3e1785b","Type":"RECEIVE-PREPAYMENT","Reference":"INV-0023","RemainingCredit":0.0,"Allocations":[{"AllocationID":"7242af68-4ce7-4387-80f5-40ea359a35ab","Amount":73.0,"Date":"/Date(1556582400000+0000)/","Invoice":{"InvoiceID":"abad7c2f-56b5-4f92-9b4c-0ba290bb137a","InvoiceNumber":"INV-0024","Payments":[],"CreditNotes":[],"Prepayments":[],"Overpayments":[],"IsDiscounted":fals[...]
