---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <XERO_ACCESS_TOKEN>
      Xero-Tenant-Id:
      - "<XERO_TENANT_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Xero-Correlation-Id:
      - '0973bad2-8ee9-4406-a6bb-2df559f60991'
      X-Appminlimit-Remaining:
      - '9979'
      X-Minlimit-Remaining:
      - '50'
      X-Daylimit-Remaining:
      - '4947'
      Xero-Tenant-Id:
      - "<XERO_TENANT_ID>"
      X-Client-Tls-Ver:
      - tls1.3
    body:
      encoding: UTF-8
      string: '{"Id":"0973bad2-8ee9-4406-a6bb-2df559f60991","Status":"OK","ProviderName":"Statey
        Test","DateTimeUTC":"/Date(1775826996311)/","Users":[{"GlobalUserID":"48345799-f95d-40af-9a0d-5847bfad7f8d","UserID":"44444444-4444-4444-4444-000000000001","EmailAddress":"sanitised@example.com","FirstName":"Kelvin","LastName":"S","UpdatedDateUTC":"/Date(1775825621377+0000)/","IsSubscriber":true,"OrganisationRole":"STANDARD"},{"GlobalUserID":"32cf472c-bce9-4def-afe3-897ec3575064","UserID":"44444444-4444-4444-4444-000000000001","EmailAddress":"sanitised@example.com","FirstName":"Statey","LastName":"Test
        User","UpdatedDateUTC":"/Date(1651588481537+0000)/","IsSubscriber":false,"OrganisationRole":"STANDARD"},{"GlobalUserID":"43c521e3-55fe-44a2-9264-a2442abb189a","UserID":"44444444-4444-4444-4444-000000000001","EmailAddress":"sanitised@example.com","FirstName":"Gary","LastName":"Greyling","UpdatedDateU[...]
