---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Overpayments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <XERO_ACCESS_TOKEN>
      Xero-Tenant-Id:
      - "<XERO_TENANT_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Xero-Correlation-Id:
      - 1b0fb7f0-ec83-4b72-a9ba-c87aed9b52bd
      X-Appminlimit-Remaining:
      - '9999'
      X-Minlimit-Remaining:
      - '59'
      X-Daylimit-Remaining:
      - '4922'
      Xero-Tenant-Id:
      - "<XERO_TENANT_ID>"
      X-Client-Tls-Ver:
      - tls1.3
    body:
      encoding: UTF-8
      string: '{"Id":"1b0fb7f0-ec83-4b72-a9ba-c87aed9b52bd","Status":"OK","ProviderName":"Statey
        Test","DateTimeUTC":"/Date(1775830354568)/","Overpayments":[{"OverpaymentID":"32895345-f7c0-4391-bfc9-75f7f52a4d2f","Type":"RECEIVE-OVERPAYMENT","Reference":"","RemainingCredit":1109.0,"Allocations":[],"Payments":[],"HasAttachments":false,"Contact":{"ContactID":"850803eb-b231-42a8-a916-e4a39d7cd2c3","Name":"Sanitised
        Organisation","Addresses":[],"Phones":[],"ContactGroups":[],"ContactPersons":[],"HasValidationErrors":false},"DateString":"2019-01-01T00:00:00","Date":"/Date(1546300800000+0000)/","Status":"VOIDED","LineAmountTypes":"NoTax","LineItems":[],"SubTotal":1109.0,"TotalTax":0.0,"Total":1109.0,"UpdatedDateUTC":"/Date(1574791660177+0000)/","CurrencyCode":"ZAR"},{"OverpaymentID":"f71b4e20-8b8b-46f9-afef-065ff844f2b0","Type":"RECEIVE-OVERPAYMENT","Reference":"","RemainingCredit":534.0,"Allocations":[],"Payments":[],"HasAttachments":false,"Contact":{"ContactID":"850803eb-b231-42a8-a916-e4a39d7cd2c3","Name":"Sanitised
        Organisation","Addresses":[],"Phones":[],"ContactGroups":[],"ContactPersons":[],"HasValidationErrors":false},"DateString":"2019-01-01T00:00:00","Date":"/Date(1546300800000+0000)/","Status":"VOIDED","LineAmountTypes":"NoTax","LineItems":[],"SubTotal":534.0,"TotalTax":0.0,"Total":534.0,"UpdatedDateUTC":"/Date(1574791762870+0000)/","CurrencyCode":"ZAR"},{"OverpaymentID":"f7ca9a36-38f8-497e-933b-2596ddc31bf7","Type":"RECEIVE-OVERPAYMENT","Reference":"","RemainingCredit":534.0,"Allocations":[],"Payments":[],"HasAttachments":false,"Contact":{"ContactID":"76c93e5a-4f1d-4327-b8ee-80df11f6d9de","Name":"Sanitised
        Organisation","Addresses":[],"Phones":[],"ContactGroups":[],"ContactPersons":[],"HasValidationErrors":false},"DateString":"2019-01-01T00:00:00","Date":"/Date(1546300800000+0000)/","Status":"VOIDED","LineAmountTypes":"NoTax","LineItems":[],"SubTotal":534.0,"TotalTax":0.0,"Total":534.0,"UpdatedDateUTC":"/Date(1574791888833+0000)/","CurrencyCode":"ZAR"},{"OverpaymentID":"c678f3f6-4735-4fd1-8e50-4f10f2b26796","Type":"RECEIVE-OVERPAYMENT","Reference":"","RemainingCredit":0.8,"Allocations":[{"AllocationID":"e775c681-1698-4226-a177-d9ece1a3350e","Amount":1366.2,"Date":"/Date(1574726400000+0000)/","Invoice":{"InvoiceID":"4bb1c187-e4e0-4c6b-a6e4-d8e5a9ff0aaa","InvoiceNumber":"INV-0028","Payments":[],"CreditNotes":[],"Prepayments":[],"Overpayments":[],"IsDiscounted":false,"InvoiceAddresses":[],"HasErrors":false,"InvoicePaymentServices":[],"LineItems":[]}}],"Payments":[],"HasAttachments":false,"Contact":{"ContactID":"06b007a7-7f85-47b0-a23b-de33a6d55055","Name":"Sanitised
        Organisation","Addresses":[],"Phones":[],"ContactGroups":[],"ContactPersons":[],"HasValidationErrors":false},"DateString":"2019-06-01T00:00:00","Date":"/Date(1559347200000+0000)/","Status":"AUTHORISED","LineAmountTypes":"NoTax","LineItems":[],"SubTotal":1367.0,"TotalTax":0.0,"Total":1367.0,"UpdatedDateUTC":"/Date(1574792286990+0000)/","CurrencyCode":"Z[...]
