---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Payments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <XERO_ACCESS_TOKEN>
      Xero-Tenant-Id:
      - "<XERO_TENANT_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Xero-Correlation-Id:
      - 6c3e9fed-ef0d-4eb6-8c7c-2e480c310a5b
      X-Appminlimit-Remaining:
      - '9999'
      X-Minlimit-Remaining:
      - '59'
      X-Daylimit-Remaining:
      - '4921'
      Xero-Tenant-Id:
      - "<XERO_TENANT_ID>"
      X-Client-Tls-Ver:
      - tls1.3
    body:
      encoding: UTF-8
      string: '{"Id":"6c3e9fed-ef0d-4eb6-8c7c-2e480c310a5b","Status":"OK","ProviderName":"Statey
        Test","DateTimeUTC":"/Date(1775830613070)/","Payments":[{"PaymentID":"2b18cca5-7e3e-42c3-a9bf-ee0528f2dd26","Date":"/Date(1546300800000+0000)/","BankAmount":50.0,"Amount":50.0,"CurrencyRate":1.0,"PaymentType":"ACCRECPAYMENT","Status":"AUTHORISED","UpdatedDateUTC":"/Date(1574284308657+0000)/","HasAccount":true,"IsReconciled":true,"Account":{"AccountID":"586a2bb4-bbbf-4358-8c11-1a194312eb66"},"Invoice":{"Type":"ACCREC","InvoiceID":"7fe42a1f-3bd9-4e86-92c3-5e4b35f33f94","InvoiceNumber":"INV-0009","Payments":[],"CreditNotes":[],"Prepayments":[],"Overpayments":[],"IsDiscounted":false,"InvoiceAddresses":[],"HasErrors":false,"InvoicePaymentServices":[],"Contact":{"ContactID":"850803eb-b231-42a8-a916-e4a39d7cd2c3","Name":"Sanitised
        Organisation","Addresses":[],"Phones":[],"ContactGroups":[],"ContactPersons":[],"HasValidationErrors":false},"LineItems":[],"CurrencyCode":"ZAR"},"HasValidationErrors":false},{"PaymentID":"4b771e10-dce2-4f80-90f3-6419a3093b89","Date":"/Date(1548979200000+0000)/","BankAmount":4547.0,"Amount":4547.0,"CurrencyRate":1.0,"PaymentType":"ACCRECPAYMENT","Status":"AUTHORISED","UpdatedDateUTC":"/Date(1574368591050+0000)/","HasAccount":true,"IsReconciled":true,"Account":{"AccountID":"586a2bb4-bbbf-4358-8c11-1a194312eb66"},"Invoice":{"Type":"ACCREC","InvoiceID":"d34ab822-49b1-404a-b644-6f1c4f3280e7","InvoiceNumber":"INV-0013","Payments":[],"Cr[...]
